body
{
    background-color: white;
    padding: 20px;
    }
form
{
    padding: 20px;
    align-self: center;
    border: solid;
    width: 60%;
    align-items: center;
}
.bgc
{
    background-color: gray;
}
span
{ 
    color: red;
}
.head
{
   margin: 60px;
}
.marg
{
    margin: 5px;
}
.dis
{
    display: flex;
 justify-content: space-between; 
 padding: 5px;  
 align-items: center;
}
.divs
{
    display:inline-flex;
}